<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<style src="./normalize.css"></style>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>
	<form action="/user/create" method="POST">
		<input type="email" name="email" placeholder="Email" value="patrick.downie@ddb.be">
		<input type="text" name="firstname" placeholder="Patrick" value="Patrick">
		<input type="text" name="lastname" placeholder="Downie" value="Downie">
		<input type="submit" value="Submit">
	</form>
</body>

</html>